# Predicción de demanda de alquileres sitycleta por países

In [52]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns

In [53]:
df = pd.read_csv('data/salgulpa_df.csv', sep=';')
df[['user_h', 'user_min', 'user_seg']] = df['user_time'].str.split(':', expand=True)
df_sagulpa = df.drop('user_time', axis=1)
df_sagulpa.columns

Index(['id_country', 'country', 'start_day', 'start_month', 'start_h',
       'start_min', 'start_seg', 'end_day', 'end_month', 'end_h', 'end_min',
       'end_seg', 'user_h', 'user_min', 'user_seg'],
      dtype='object')

In [54]:
df_clima = pd.read_csv('data/time_df.csv', sep=';')
df_clima.columns

Index(['prec', 'presMax', 'presMin', 'racha', 'tmax', ' tmed', ' tmin',
       ' velmedia', 'moth', 'day'],
      dtype='object')

In [55]:
df = df_clima.rename(columns={' tmed': 'tmed', ' tmin': 'tmin', ' velmedia': 'velmedia'})

In [56]:
for index, row in df_sagulpa.iterrows():
    match = df[(df['day'] == row['start_day'])]
    if not match.empty:
        df_sagulpa.loc[index, 'prec'] = match.iloc[0]['prec']
        df_sagulpa.loc[index, 'presMax'] = match.iloc[0]['presMax']
        df_sagulpa.loc[index, 'presMin'] = match.iloc[0]['presMin']
        df_sagulpa.loc[index, 'tmax'] = match.iloc[0]['tmax']
        df_sagulpa.loc[index, 'tmed'] = match.iloc[0]['tmed']
        df_sagulpa.loc[index, 'tmin'] = match.iloc[0]['tmin']
        df_sagulpa.loc[index, 'velmedia'] = match.iloc[0]['velmedia']

,id_country,country,start_day,start_month,start_h,start_min,start_seg,end_day,end_month,end_h,...,user_h,user_min,user_seg,prec,presMax,presMin,tmax,tmed,tmin,velmedia
0,18,Polonia,13,12,20,59,23,14,12,8,...,11,06,46,0.0,1017.2,1015.0,25.0,22.2,19.4,1.1
1,20,Hungría,2,12,12,51,2,2,12,21,...,09,03,08,1.1,1012.9,1008.8,23.0,20.7,18.4,3.3
2,14,Finlandia,27,12,11,12,16,27,12,19,...,08,38,35,0.0,1019.7,1012.0,22.5,21.1,19.7,4.7
3,11,Reino Unido,27,12,22,18,4,28,12,6,...,08,19,48,0.0,1019.7,1012.0,22.5,21.1,19.7,4.7
4,11,Reino Unido,30,12,22,29,17,31,12,6,...,08,18,25,0.0,1022.1,1019.5,24.9,22.5,20.1,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4279,18,Polonia,28,12,14,37,34,28,12,14,...,00,00,54,0.0,1020.6,1018.1,23.2,21.8,20.5,1.1
4280,15,Italia,13,12,11,46,49,13,12,11,...,00,00,49,0.0,1017.2,1015.0,25.0,22.2,19.4,1.1
4281,11,Reino Unido,4,12,21,8,3,4,12,21,...,00,00,46,0.0,1007.7,1004.9,23.0,20.1,17.2,1.1
4282,14,Finlandia,1,12,9,11,42,1,12,9,...,00,00,45,3.1,1015.7,1012.0,22.3,20.6,19.0,2.8
4283,1,Alemania,21,12,21,20,44,21,12,21,...,00,00,32,0.0,1026.0,1022.6,23.5,20.6,17.7,0.8

In [58]:
df_sagulpa.to_csv('sagulpa.csv', index=False)